extends site/base.pug
- load compress widget_tweaks

block prepend title
  = 'Alterar senha'

block content
  div.container
    di.row
      form(method="POST")
        - csrf_token
        for field in form
          div.row
            div.form-group.col-md-6.col-md-offset-3
              label(for=field.id_for_label)= field.label

              - render_field field class="form-control"

              if field.help_text
                 - render_field field.help_text

              for error in field.errors
                span.help-block= error

        div.row
          div.form-group.col-md-2.col-md-offset-3
            button.btn.btn-primary(type="submit") Alterar Senha

block append scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js")
  - compress js
    script(src="static/admin/js/customer-mask.js")
