extends site/base.pug
- load compress widget_tweaks

block prepend title
  if object.pk
    = 'Atualizar conta'
  else
    = 'Criar conta'

block content
  div.container
    di.row
      form(method="POST")
        - csrf_token
        div.row
          div.form-group.col-md-2.col-md-offset-2
            label(for="id_first_name")= form.first_name.label
            - render_field form.first_name class="form-control"
            for error in form.first_name.errors
              span.help-block: = error

          div.form-group.col-md-4
            label(for="id_last_name")= form.last_name.label
            - render_field form.last_name class="form-control"
            for error in form.last_name.errors
              span.help-block: = error

          div.form-group.col-md-2
            label(for="id_phone")= form.phone.label
            - render_field form.phone class="form-control"

        div.row
          div.form-group.col-md-3.col-md-offset-2
            label(for="id_email")= form.email.label
            - render_field form.email class="form-control"
            for error in form.email.errors
              span.help-block: = error

          div.form-group.col-md-2
            label(for="id_type")= form.type.label
            - render_field form.type class="form-control"

          div.form-group.col-md-3
            label(for="id_document")= form.document.label
            - render_field form.document class="form-control"
            for error in form.document.errors
              span.help-block: = error

        div.row
          if object.pk
            div.col-md-10.col-md-offset-2
              a(href="{% url 'change_password' %}") Alterar Senha

          else
            div.form-group.col-md-4.col-md-offset-2
              label(for="id_password")= form.password.label
              - render_field form.password class="form-control" type="password"
              for error in form.password.errors
                span.help-block: = error

            div.form-group.col-md-4
              label(for="id_password_confirm")= form.password_confirm.label
              - render_field form.password_confirm
              for error in form.password_confirm.errors
                span.help-block: = error

        div.row
          div.form-group.col-md-2.col-md-offset-2
            button.btn.btn-primary(type="submit") Salvar

block append scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js")
  - compress js
    script(src="static/admin/js/customer-mask.js")
