- load widget_tweaks
div#modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  div.modal-dialog(role='document')
    form.modal-content(method="POST" action="{% url 'customer:address' %}")
      - csrf_token
      input(
        type="hidden"
        name="customer"
        value=cart.customer.pk
      )

      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Endereço de entrega

      div.modal-body
        div.row
          div.col-md-6.form-group
            label.label-control(for="id_postal_code")= address_form.postal_code.label
            - render_field address_form.postal_code class="form-control"

        div.row
          div.col-md-7.form-group
            label.label-control(for="id_address")= address_form.address.label
            - render_field address_form.address class="form-control"
          div.col-md-2.form-group
            label.label-control(for="id_number")= address_form.number.label
            - render_field address_form.number class="form-control"
          div.col-md-3.form-group
            label.label-control(for="id_complement")= address_form.complement.label
            - render_field address_form.complement class="form-control"

        div.row
          div.col-md-4.form-group
            label.label-control(for="id_district")= address_form.district.label
            - render_field address_form.district class="form-control"
          div.col-md-4.form-group
            label.label-control(for="id_state")= address_form.state.label
            - render_field address_form.state class="form-control"
          div.col-md-4.form-group
            label.label-control(for="id_city")= address_form.city.label
            - render_field address_form.city class="form-control"

      div.modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Fechar
        button.btn.btn-primary(type='submit') Salvar
