extends site/base.pug
- load widget_tweaks

block prepend title
   | (#{cart.cartitem_set.count}) Carrinho

block append scripts
  script(src='/static/checkout/js/cart.js')

block content
  div.container
    div.row
      div.col-md-10
        if cart.cartitem_set.count
          div.row: div.col-md-12
            p: a(href="{% url 'store' object.store.slug %}")
              span.glyphicon.glyphicon-arrow-left
              span Voltar para a loja

          div.panel.panel-default
            div.panel-heading Itens do carrinho
            form.panel-body(method='post')
              - csrf_token
              != formset.management_form
              for form in formset
                div.row.item
                  != form.id
                  div.col-md-2
                    if item.product.image
                      img(src="#{form.instance.product.image}")
                    else
                      div(style="width:75%;height:90px;background-color:#ddd")

                  div.col-md-4
                    p #{form.instance.product.brand} #{form.instance.product.name}
                    p R$ #{form.instance.product.price}

                  div.col-md-2
                    br
                    - render_field form.quantity class="form-control" max=form.instance.max

                  div.col-md-2
                    br
                    p(id="id_cartitem_set-#{forloop['counter0']}-value")
                      | R$ #{form.instance.value}

                  div.col-md-2(data-toggle="buttons")
                    br
                    label.btn.btn-danger
                      != form.DELETE
                      | Excluir

                br

            div.panel-footer
              p#total.text-right R$ #{cart.total}

          div.row: div.col-md-12.text-right(onclick="location.href='{% url 'checkout:delivery' %}'")
            button.btn.btn-primary Continuar

        else
          h3 Você não tem produtos no carrinho!
