extends site/base.pug

block prepend title
   | Confirmação

block content
  div.container
    div.row
      div.col-md-8.col-md-offset-2
        div.alert.alert-success(role="alert")
          strong Obrigado.
          |  Sua compra foi confirmada e será entregue no endereço informado.
