extends site/base.pug
- load widget_tweaks

block prepend title
   | Entrega

block append scripts
  script(src='/static/checkout/js/delivery.js')

block content
  div.container
    div.row
      form.col-md-10(method="POST")
        - csrf_token
        input(
          type="hidden"
          name="customer"
          value=request.user.customer.pk
        )
        input(
          type="hidden"
          name="status"
          value="P"
        )
        div.row: div.col-md-12
          p: a(href="{% url 'checkout:cart' %}")
            span.glyphicon.glyphicon-arrow-left
            span Voltar para o carrinho

        div.panel.panel-default
          div.panel-heading Itens do Carrinho
          div.panel-body
            table.table
              thead: tr
                th Produto
                th.text-right Preço
                th.text-right Quantidade
                th.text-right Total
              tbody
                for item in object.cartitem_set.all
                  tr
                    td #{item.product.brand} #{item.product.name}
                    td.text-right R$ #{item.product.price}
                    td.text-right= item.quantity
                    td.text-right R$ #{item.value}

          div.panel-footer
            p#total.text-right.text-bold R$ #{object.total}

        div.panel.panel-default
          div.panel-heading Entrega
          div.panel-body(method='post')
            div.form-group
              label= form.delivery_method.label
              div.row
                for method in object.DELIVERY_METHOD
                  div.col-md-6
                    input(
                      type="radio"
                      name="delivery_method"
                      value=method[0]
                      checked=object.delivery_method == method[0]
                    )
                    span= method.1
            div.form-group
              label= form.delivery_address.label
              div#addresses.row
                for address in addresses
                  div.col-md-6
                    input(
                      type="radio"
                      name="delivery_address"
                      value=address.pk
                      checked=object.delivery_address == address
                    )
                    = ' Modificar'
                    p
                      | #{address.address} #{address.number} #{address.complement}
                      br
                      | #{address.district} - #{address.city.name} - #{address.city.state.initials}

              div.row: div.col-md-12.text-right
                button.btn.btn-primary(
                  type="button"
                  data-toggle="modal"
                  data-target="#modal"
                ) Adicionar Endereço

            div.form-group
              label= form.delivery_date.label
                - render_field form.delivery_date class="form-control datepicker"

        div.row: div.col-md-12.text-right(style="margin-bottom:1em")
          button.btn.btn-primary Finalizar

  include ./address-modal.pug
