!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title
      block title
        = ' | e-Market'

    block styles
      link(
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"
      )
      link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css")
      link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css")
      link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")

  body(style="padding-top:70px")
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(
            type="button"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
           )
            span.sr-only Toggle navigation
            for i in '---'
              span.icon-bar

          a.navbar-brand(href="{% url 'home' %}") EMarket

        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav.hidden
            li.active
              a(href="#") Link
                span.sr-only (current)

            li: a(href="#") Link

            li.dropdown
              a.dropdown-toggle(
                href="#"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              ) Dropdown
                span.caret
              ul.dropdown-menu
                li: a(href="#") Action
                li: a(href="#") Another action
                li: a(href="#") Something else here
                li.divider(role="separator")
                li: a(href="#") Separated link
                li.divider(role="separator")

          form.navbar-form.navbar-left
            div.form-group
              input.form-control(type="text" placeholder="Search")

            button.btn.btn-default(type="submit"): span.glyphicon.glyphicon-search

          ul.nav.navbar-nav.navbar-right
            li: a(href="{% url 'checkout:cart' %}")
              span.glyphicon.glyphicon-shopping-cart
              span= ' '
              span.badge#items= cart.cartitem_set.count

            if user.is_authenticated
              li.dropdown
                a.dropdown-toggle(
                  href="#"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                 )= user.first_name
                   span.caret
                ul.dropdown-menu
                  li: a(href="{% url 'account_update' %}") Conta
                  li.divider(role="separator")
                  li: a(href="{% url 'logout'%}") Sair
            else
              li: a(href="{% url 'login' %}")
               span.glyphicon.glyphicon-log-in
               span= ' '
               span Entrar

    div.container: div.row: div.col-md-10.col-md-offset-1
      for message in messages
        div(class=('alert.alert-danger' if message.tags == 'error' else 'alert alert-'+message.tags))
          button.close(data-dismiss="alert") ×
          span= message

    block content

    block scripts
      script(src="//code.jquery.com/jquery-1.12.4.min.js")
      script(
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"
      )
      script(src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js")
      script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js")
      script(src="/static/site/js/base.js")
