extends ./base.pug

block prepend title
  = 'Inicio'

block content
  div.container
    div.row
      div.col-md-12
        h1.text-center Escolha a loja mais pŕoxima
        br

      for store in object_list
        div.col-md-4
          div.thumbnail
            div.caption
              a(href="{% url 'store' store.slug %}"): h2= store.name
              p 
                | #{store.address}, #{store.number} #{store.complement} 
                | #{store.district} #{store.city.name}-#{store.city.state.initials}
              div.row
                div.col-md-4.col-md-offset-8
                  a.btn.btn-primary(href="{% url 'store' store.slug %}") Acessar

        if forloop.counter|divisibleby:"3"
          div.clearfix  
