extends ./base.pug

block prepend title
  = 'Entrar'

block content
  div.container
    if form.errors
      di.row
        div.col-md-4.col-md-offset-4
          div.alert.alert-warning.alert-dismissible(role="alert")
            button.close(
              type="button"
              data-dismiss="alert"
              aria-label="Close"
            ): span(aria-hidden="true") &times;
            span Atenção. O e-mail ou senha digitados não são válidos. Por favor, tente novamente.

    di.row
      form.col-md-4.col-md-offset-4(method="post" action="{% url 'login' %}")
        - csrf_token
        div.form-group
           label.small(for="username") Seu e-mail
           input#username.form-control(
             name="username"
             type="email"
             placeholder="E-mail"
             required
           )

        div.form-group
          label.small(for="password") Sua senha
          input#password.form-control(
            name="password"
            type="password"
            placeholder="Senha"
            required
          )

         button.btn.btn-success.btn-loading(type="submit")
           span.glyphicon.glyphicon-lock Entrar
