extends ./base.pug

block prepend title
  = store.name

block append scripts
  script(src='/static/checkout/js/add_item.js')

block content
  div.container
    div.row
      form
        input(
          type="hidden"
          name="page"
          value="1"
        )
        for field in filter.form
          if field.name != 'name'
            div.col-md-2.form-group
              label(for=field.id_for_label)= field.label
              !=field

        div.col-md-2
          br
          input.btn.btn-primary(type="submit" value="Pesquisar")

    div.row
      for product in object_list
        div.col-sm-6.col-md-3
          div.thumbnail
            if product.image
              img(src="#{product.image.url}")
            else
              div(style="width:100%;height:180px;background-color:#ddd")
            div.caption
              h3= product.name
              h4= product.brand
              small= product.category_path
              p.text-bold
                b.text-danger R$ #{product.price}
                small.text-muted= product.unity

              if product.in_cart
                h4 Produto no carrinho
              else
                form.row(method="POST" action="{% url 'checkout:add_item' %}")
                  - csrf_token
                  input(
                    type="hidden"
                    name="product"
                    value=product.pk
                  )
                  div.col-md-6: input.form-control(
                    type="number"
                    min="1"
                    max=product.quantity
                    name="quantity"
                    value="1"
                  )
                  div.col-md-6: button.btn.btn-primary(type="submit") Adicionar

        if forloop.counter|divisibleby:"4"
          div.clearfix  
